<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Wiki</title>
    <link rel="stylesheet" href="/css/ppg.css" />
    <link rel="icon" href="favicon.ico?1">
<style>
#buttonBlock {
	position: fixed;
	bottom: 0px;
	right: 0px;
}
#box_2 {
	float: none;
	clear: both;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: #f95b34;
}
</style>
</head>
<body>
    <div id="react"></div>
    <script src="/built/wiki.bundle.js"></script>
</body>
</html>
